// Layout
$navbar-height: 50px;
$list-width: 220px;
$gap: 8px;
$scrollbar-thickness: 12px;
$list-header-height: 36px;
$list-footer-height: 36px;

// Misc
$list-border-radius: 6px;
$card-border-radius: 4px;

// Colors
$list-bg-color: #f3f3f3;